/*this is a custom css stylesheet*/
p, a{
  font-family: 'Alegreya Sans', sans-serif;
}
h3, h4{
  font-family: 'Noto Serif', serif;
}
.title{
  font-family: 'Noto Serif', serif;
}

 /*navbar styles*/

.navbar{
  background-color: #383838;
}
.navbar-brand{
  color: #f8f8f8;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .navbar-form {
        display: none !important;

    }
}

/*intro for desktop*/
@media screen and (max-width: 1024px) {
    .intro-desktop {
        display: none !important;
    }
}
.intro-desktop{
  text-align: center;
  margin-top: 2%;
  padding: 1em;
}
.intro-text{
  font-size: 130%;
}
/*intro accordion for mobile*/

#accordion-mobile .panel-default .panel-heading{
  background-color: #7b9d6f;
  width: 100%;

}
@media screen and (min-width: 1024px) {
    #accordion-mobile {
        display: none !important;

    }
}
.glyphicon-menu-down{
  float: right;
}
.accordion-content{
  text-align: center;
}
.accordion-toggle{
  text-align: center;
}

/*styling for newspaper panel*/
.tab-content{
  background-color: #f8f8f8;
  margin-bottom: 10%;
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #f8f8f8 !important;
    border: medium none;
    border-radius: 5px;
    color:#383838;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #7b9d6f !important;
    color: #383838;
}
.nav-center {
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline;
      a {
        float: left;

      }
    }
  }
}
@media screen and (min-width: 1024px) {
    .nav-center {
        margin-left: 25%;
    }
}

.front-img{
  max-height: 300px;
  margin: 1em;
  align-items: center;
}
.editor-caption, .story-link, .paper-bio{
  font-size: 110%;
  margin: .8em;
  padding: 1em;
}

/*styles for table*/
.table-head{
  font-family: 'Noto Serif', serif;
  font-size: 100%;
}
.table-head:hover{
  color: #383838;
  text-decoration: none;
}

.paper-link{
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: none;
    font-size: 110%;
}
.paper-link:hover, .paper-link:active{
  font-weight: bold;
  text-decoration: none;
  color: gray;
}
.table-body{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 110%;
}



hr.divider{
  margin-top: 5%;
  border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
}

/*Search bar*/
.form-control.style, .textarea, .input{
  float: right;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;
}

/*Footer*/
footer{
  width: 100%;
  height: 5em;
  background: #eeeeee;
  color: #383838;
  font-family: 'Noto Serif', serif;
}

.disclaimer{
  padding: .8em;
  font-size: 80%;
  text-align: justify;
}
.disclaimer1{
  margin-top: 1em;
}
