<!DOCTYPE html>
<html>
<head>
  <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Boostrap  -->
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <script src="js/bootstrap.min.js"></script>
      <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
<!-- Angular -->
      <script src="js/angular.min.js"></script>

<!-- Scripts -->
      <script src="js/app.js"></script>
      <script src="js/data.json"></script>
<!-- Timeline -->
      <script src="js/timeline/jquery.mobile.custom.min.js"></script>
      <script src="js/timeline/main.js"></script>
      <script src="js/timeline/modernizr.js"></script>
      <link href="css/timeline.css" rel="stylesheet" type="text/css" />
      <link href="css/reset.css" rel="stylesheet" type="text/css" />
<!-- Custom CSS -->
      <link href="css/styles.css" rel="stylesheet" type="text/css" />


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Black Press</title>
</head>

<body ng-app="myApp">
   <div class="container" ng-controller="BaseController as base">
        <div class="row">
           <div class="col-xs-12">
<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
               Profile
          </a>
      </li>
      <li>
          <a href="#editor" role="tab" data-toggle="tab">
              Editor
          </a>
      </li>
      <li>
          <a href="#stories" role="tab" data-toggle="tab">
              Stories
          </a>
      </li>
    </ul>

<!-- Tab panes -->
    <div class="tab-content" ng-show= "base.papers" id="paperInfo">
      <div class="tab-pane fade active in" id="profile">
          <!-- <h2>{{data.name}}</h2>
            <img ng-src="{{data.images.generalPic}}" />
            <p>{{data.bio}}</p> -->
      </div>
      <div class="tab-pane fade" id="editor">
          <!-- <h2>{{data.editor}}</h2>
            <img src="http://www.nathanielturner.com/images/New_Folder/freejour.jpg"/>
            <p>{{data.imgCaption}}</p> -->
      </div>
      <div class="tab-pane fade" id="stories">
        <!-- <a href="{{data.storyLink}}">{{data.storyTitle}}</a> -->
      </div>
    </div> <!-- closes panes -->

<!-- Timeline -->

<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="28/02/1827" class="selected">1827</a></li>
          <li><a href="#0" data-date="28/02/1830">1831</a></li>
          <li><a href="#0" data-date="28/02/1836">1836</a></li>
          <li><a href="#0" data-date="28/02/1842">1842</a></li>
          <li><a href="#0" data-date="28/02/1847">1847</a></li>
          <li><a href="#0" data-date="28/02/1849">1850</a></li>
          <li><a href="#0" data-date="28/02/1852">1852</a></li>
          <li><a href="#0" data-date="28/02/1860">1860</a></li>
          <li><a href="#0" data-date="28/02/1861">1861-1865</a></li>
          <li><a href="#0" data-date="28/12/1862">1862</a></li>
          <li><a href="#0" data-date="28/12/1865">1865</a></li>
          <li><a href="#0" data-date="28/12/1866">1866</a></li>
          <li><a href="#0" data-date="28/12/1870">1870</a></li>
          <li><a href="#0" data-date="28/12/1875">1875</a></li>
          <li><a href="#0" data-date="28/12/1877">1877</a></li>

				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>

			<li data-date="28/02/1827" class="selected">
				<h2>Slavery Abolished</h2>
          <em>1827</em>
          <p>
            Slavery is officially abolished in New York.
          </p>
			</li>
      <li data-date="28/02/1830">
				<h2>Slave Rebellion</h2>
          <em>1831</em>
          <p>
            Nat Turner leads a slave rebellion in Southampton, Virginia, killing at least 57 whites.
          </p>
			</li>
      <li data-date="28/02/1836">
				<h2>Texas a Slave State</h2>
          <em>1836</em>
          <p>
            Texas declares its independence from Mexico. In its Constitution as an independent nation, Texas recognizes slavery and makes it difficult for free blacks to remain there.
          </p>
			</li>
      <li data-date="28/02/1842">
				<h2>Voting Campaign</h2>
          <em>1842</em>
          <p>
            Frederick Douglass leads a successful campaign against Rhode Island's proposed Dorr Constitution which would continue the prohibition on black voting rights.
          </p>
			</li>
      <li data-date="28/02/1847">
        <h2>Dred Scott Case</h2>
          <em>1847</em>
          <p>
            Missouri abolitionists file a lawsuit on behalf of Dred Scott to gain his freedom. The case is eventually decided by the U.S. Supreme Court a decade later. It declaired no blacks slave or free were U.S. citizens.
          </p>
      </li>
      <li data-date="28/02/1849">
        <h2>Compromise of 1850</h2>
          <em>1850</em>
          <p>
            The Compromise of 1850 revisits the issue of slavery. California enters the Union as a free state, but the territories of New Mexico and Utah are allowed to decide whether they will enter the Union as slave or free states. The 1850 Compromise also allowed passage of a much stricter Fugitive Slave Law.
          </p>
        </li>
        <li data-date="28/02/1852">
          <h2>Uncle Tom's Cabin</h2>
            <em>1852</em>
            <p>
              Harriet Beecher Stowe publishes her novel, Uncle Tom's Cabin, which becomes a best selling book and a major influence on the Anti-Slavery Movement.
            </p>
          </li>
          <li data-date="28/02/1860">
            <h2>Lincoln President</h2>
              <em>1860</em>
              <p>
                On November 6, Abraham Lincoln is elected president. On December 20, South Carolina secedes from the Union.
              </p>
            </li>
        <li data-date="28/02/1861">
          <h2>The Civil War</h2>
            <em>1861-1865</em>
            <p>
              In The Civil War, the country is divided over slavery and states rights. Approximately 200,000 blacks (most are newly escaped/freed slaves) serve in Union armed forces and over 20,000 are killed in combat.
            </p>
          </li>
          <li data-date="28/12/1862">
            <h2>Emancipation Proclamation</h2>
              <em>1862</em>
              <p>
                On September 22, President Abraham Lincoln issues the Emancipation Proclamation and announces that it will go into effect on July 1, 1863 if the states then in rebellion have not by that point returned to the Union.
              </p>
            </li>
        <li data-date="28/12/1865">
          <h2>End of Slavery in the U.S.</h2>
            <em>1865</em>
            <p>
              On February 1, 1865, Abraham Lincoln signs the 13th Amendment to the U.S. Constitution outlawing slavery throughout the United States. Confederate General Robert E. Lee surrenders on April 9, ending the Civil War.
            </p>
          </li>
          <li data-date="28/12/1866">
            <h2>Fourteenth Amendment</h2>
              <em>1866</em>
              <p>
                On June 13, Congress approves the Fourteenth Amendment to the Constitution, granting citizenship to African Americans.
             </p>
            </li>
        <li data-date="28/12/1870">
          <h2>Fifteenth Amendment</h2>
            <em>1870</em>
            <p>
              The Fifteenth Amendment to the Constitution is ratified on March 30, guaranteeing African American males the right to vote.
            </p>
          </li>
      <li data-date="28/12/1875">
        <h2>Civil Rights Act</h2>
          <em>1875</em>
          <p>
            Congress enacts the Civil Rights Act of 1875 on March 1, guaranteeing equal rights to black Americans in public accommodations and jury duty. But in the South, Jim Crow Laws restrict black rights.
          </p>
        </li>
        <li data-date="28/12/1877">
          <h2>Reconstruction Ends</h2>
            <em>1877</em>
            <p>
              The Compromise of 1877 ends Reconstruction in the South. Northern troops pull out of the South, and segregation of African Americans returns. In many Southern states, blacks don't gain basic rights until The Civil Rights Movement in the 1960's.
            </p>
          </li>
    </ol>
	</div> <!-- .events-content -->
</section>

<!-- Search -->
  <div class="col-md-6">
    <input type="text" ng-model="searchTerm" class="form-control" style="float: right" placeholder="Search" />
  </div>
<!-- Table -->
    <table class="table" >
      <thead>
        <tr>
          <th ng-click = "base.setSort('name')">Name</th>
          <th ng-click = "base.setSort('location')">Located</th>
          <th ng-click = "base.setSort('numOfIssues')">Number of Issues</th>
          <th ng-click = "base.setSort('startDate')">Established</th>
          <th ng-click = "base.setSort('endDate')">Ended</th>
        </tr>
      </thead>
      <tbody ng-repeat= "data in base.papers | orderBy:base.sort:base.reverse | filter:searchTerm">
          <tr>
             <td ng-click="base.panelInfo(data.name)"> {{ data.name }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.numOfIssues}}</td>
            <td>{{ data.startDate }}</td>
            <td> {{data.endDate}}</td>
          </tr>
      </tbody>
    </table>

        </div> <!-- col -->
      </div> <!-- row -->
  </div> <!-- container -->
</body>
</html>
