<!DOCTYPE html>
<html>
<head>
  <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Boostrap  -->
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <script src="js/bootstrap.min.js"></script>
      <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
<!-- Angular -->
      <script src="js/angular.min.js"></script>

<!-- Scripts -->
      <script src="js/jquery.mobile.custom.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/data.json"></script>
<!-- Timeline -->
      <script src="js/main.js"></script>
      <script src="js/modernizer.js"></script>
      <link href="css/timeline.css" rel="stylesheet" type="text/css" />
      <link href="css/reset.css" rel="stylesheet" type="text/css" />
<!-- Custom CSS -->
      <link href="css/styles.css" rel="stylesheet" type="text/css" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Black Press</title>
</head>

<body ng-app="myApp">
   <div class="container" ng-controller="BaseController as base">
        <div class="row">
           <div class="col-xs-12">
             <h1>Test</h1>
<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
          <a href="#profile" role="tab" data-toggle="tab">
               Profile
          </a>
      </li>
      <li>
          <a href="#editor" role="tab" data-toggle="tab">
              Editor
          </a>
      </li>
      <li>
          <a href="#stories" role="tab" data-toggle="tab">
              Stories
          </a>
      </li>
    </ul>
<!-- Tab panes -->
    <div class="tab-content" ng-show= "base.papers" id="paperInfo">
      <div class="tab-pane fade active in" id="profile">
          <!-- <h2>{{data.name}}</h2>
            <img ng-src="{{data.images.generalPic}}" />
            <p>{{data.bio}}</p> -->
      </div>
      <div class="tab-pane fade" id="editor">
          <!-- <h2>{{data.editor}}</h2>
            <img src="http://www.nathanielturner.com/images/New_Folder/freejour.jpg"/>
            <p>{{data.imgCaption}}</p> -->
      </div>
      <div class="tab-pane fade" id="stories">
        <!-- <a href="{{data.storyLink}}">{{data.storyTitle}}</a> -->
      </div>
    </div> <!-- closes panes -->

<!-- Timeline -->

<section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
					<li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
					<!-- other dates here -->
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h2>Horizontal Timeline</h2>
				<em>January 16th, 2014</em>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
			</li>

			<li data-date="28/02/2014">
				<!-- event description here -->
			</li>

			<!-- other descriptions here -->
		</ol>
	</div> <!-- .events-content -->
</section>

<!-- Table -->
    <table class="table" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Established</th>
          <th>Discontinued</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody ng-repeat= "data in base.papers">
          <tr>
             <td ng-click="base.panelInfo(data.name)"> {{ data.name }}</td>
            <td>{{ data.startDate }}</td>
            <td> {{data.endDate}}</td>
            <td>{{ data.location }}</td>
          </tr>
      </tbody>
    </table>

        </div> <!-- col -->
      </div> <!-- row -->
  </div> <!-- container -->
</body>
</html>
